---
import { formatDate } from '@/utils'
import { Icon } from 'astro-icon/components'
import { actions } from 'astro:actions'

interface Props {
  workerId: string
}

const { workerId } = Astro.props

//const { data: workerData, error: workerError } = await actions.findOneUser({ id: workerId })
const { data: workerData, error: workerError } = await Astro.callAction( actions.findOneUser, { id: workerId } )
if ( workerError ) return Astro.redirect( '/' )
const { user: worker } = workerData

//const { data: workerProfileData, error: workerProfileError } = await actions.findOneWorkerProfileByUserId({ userId: workerId })
const { data: workerProfileData, error: workerProfileError } = await Astro.callAction( actions.findOneWorkerProfileByUserId, { userId: workerId } )
if ( workerProfileError ) return Astro.redirect( '/' )
const { workerProfile } = workerProfileData

//const { data: servicesData, error: servicesError } = await actions.findAllServicesByWorkerId({ workerId: workerProfile.id })
const { data: servicesData, error: servicesError } = await Astro.callAction( actions.findAllServicesByWorkerId, { workerId: workerProfile.id } )
if ( servicesError ) return Astro.redirect( '/worker' )
const { services } = servicesData
---

<div class="min-h-screen bg-gray-100 p-4 sm:p-6 lg:p-8">
  <div class="max-w-6xl mx-auto">
    <div class="bg-white rounded-lg shadow-md mb-6">
      <div class="p-6 sm:p-8 flex flex-col sm:flex-row sm:justify-between items-center gap-4">
        <div class="flex flex-col sm:flex-row items-center gap-4">
          <div class="relative w-24 h-24 rounded-full">
            <img
              src={ worker.avatar || '/avatar.svg' }
              alt={ `${ worker.name } ${ worker.lastName }` }
              class="w-full h-full rounded-full object-cover"
            />
          </div>
          <div class="text-center sm:text-left">
            <h1 class="text-3xl font-bold capitalize">{worker.name} {worker.lastName}</h1>
            <p class="text-lg text-gray-600">{
              ( workerProfile.description ) ? (
              workerProfile.description
            ) : (
              <span class="text-gray-500"> El perfil de trabajador no cuenta con una descripción 😕 </span>
              )
              }</p>
          </div>
        </div>
        <div class="sm:ml-auto flex flex-col items-center sm:items-end gap-2">
          <div class="flex items-center gap-1">
            <Icon name="mdi:star" class="text-yellow-400 mr-1" />
            <span class="font-bold"> ⭐{ 4 } </span>
            <span class="text-gray-500 ml-1">({ 0 } trabajos)</span>
          </div>
          <span class={`px-2 py-1 rounded ${workerProfile.approved ? 'bg-green-100 text-green-800' : 'bg-red-100 text-red-800'}`}>
            {workerProfile.approved ? "Aprobado ✅" : "En Revisión ❌"}
          </span>
        </div>
      </div>
      <div class="p-6 sm:p-8 grid grid-cols-1 md:grid-cols-2 gap-6">
        <div>
          <h3 class="text-xl font-semibold mb-2">Sobre Mí 🙋‍♂️</h3>
          <p class="text-gray-700">
            {
            ( workerProfile.about ) ? (
              workerProfile.about
              ) : (
              <span class="text-gray-500"> El perfil de trabajador no cuenta con una descripción acerca de el 😕 </span>
              )
            }
          </p>
        </div>
        <div>
          <h3 class="text-xl font-semibold mb-2">Detalles 📋</h3>
          <ul class="space-y-2">
            <li class="flex items-center gap-2">
              <Icon name="mdi:map-marker" size={ 24 } class="text-gray-500" />
              {
              ( worker.address ) ? (
                worker.address
              ) : (
                <span class="text-gray-500"> El perfil de trabajador no cuenta con dirección 😕 </span>
              )
              }
            </li>
            <li class="flex items-center gap-2">
              <Icon name="mdi:calendar" size={ 24 } class="text-gray-500" />
              Nacido el
              {
              ( worker.birthDate ) ? (
                formatDate( worker.birthDate )
              ) : (
                <span class="text-gray-500"> El perfil de trabajador no cuenta con fecha de nacimiento 😕 </span>
              )
              }
            </li>
            <li class="flex items-center gap-2">
              <Icon name="mdi:school" size={ 24 } class="text-gray-500" />
              {
                ( workerProfile.education ) ? (
                  workerProfile.education
                ) : (
                  <span class="text-gray-500"> El perfil de trabajador no cuenta con educación 😕 </span>
                )
              }
            </li>
            <li class="flex items-center gap-2">
              <Icon name="mdi:briefcase" size={ 24 } class="text-gray-500" />
              {
                ( workerProfile.experience ) ? (
                  workerProfile.experience
                ) : (
                  <span class="text-gray-500"> El perfil de trabajador no cuenta con experiencia 😕 </span>
                )
              }
            </li>
            <li class="flex items-center gap-2">
              <Icon name="mdi:clock-outline" size={ 24 } class="text-gray-500" />
              Miembro desde { formatDate( worker.createdAt ) }
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mb-6">
      <div class="bg-white rounded-lg shadow-md p-6">
        <h3 class="text-xl font-semibold mb-2">Habilidades 🛠️</h3>
        <div class="flex flex-wrap gap-2">
          {
          ( workerProfile.skills ) ? (
          workerProfile.skills.split( ' ' ).map((habilidad) => (
          <span class="px-2 py-1 bg-blue-100 text-blue-800 rounded">
            {habilidad}
          </span>
          ))
          ) : (
          <span class="px-2 py-1 bg-red-100 text-red-800 rounded">
            El perfil de trabajador no cuenta con habilidades 😕
          </span>
          )
          }
        </div>
      </div>
      <div class="bg-white rounded-lg shadow-md p-6">
        <h3 class="text-xl font-semibold mb-2">Intereses 🌟</h3>
        <div class="flex flex-wrap gap-2">
          {
          ( workerProfile.interests ) ? (
          workerProfile.interests.split( ' ' ).map((interes) => (
          <span class="px-2 py-1 bg-green-100 text-green-800 rounded flex items-center">
            <Icon name="mdi:heart" size={ 24 } class="mr-1" /> {interes}
          </span>
          ))
          ) : (
          <span class="px-2 py-1 bg-red-200 text-red-800 rounded flex items-center">
            El perfil de trabajador no cuenta con intereses 😕
          </span>
          )
          }
        </div>
      </div>
    </div>

    <div class="bg-white rounded-lg shadow-md p-6">
      <h3 class="text-xl font-semibold mb-2">Portafolio 📁</h3>
      <p class="text-gray-700 mb-2">Echa un vistazo a mi portafolio:</p>
      <p class="text-gray-700 mb-2">
        {
          ( workerProfile.portfolio ) ? (
            <p class="text-gray-700 mb-2"> { workerProfile.portfolio } </p>
          ) : (
            <span class="text-gray-500"> El perfil de trabajador no cuenta con un portafolio 😕 </span>
          )
        }
      <a
        class="mt-4 bg-green-500 text-white py-2 px-4 rounded-md hover:bg-green-600 transition-colors text-lg font-semibold flex items-center justify-center gap-2"
        href={ `/client/hirings/create/?workerId=${ workerId }` }
      >
        <Icon name="mdi:handshake" size={ 24 } class="ml-2" />Solicitar Servicio
      </a>
    </div>
  </div>

  <div class="space-y-6">
    { services.map(service => (
    <>
    <div id={`service-${service.id}`} class="bg-white rounded-lg shadow-md overflow-hidden p-12">
      <img src={service.imageUrl} alt={service.title} class="w-full h-80 object-cover" />

      <div class="p-6 relative">
        <h3 class="text-xl font-semibold mb-2 text-gray-800">{service.title}</h3>
        <p class="text-gray-600 mb-4">{service.description}</p>
        <div class="flex justify-between items-center mb-4">
          <span class="text-sm text-gray-500">
            <Icon name="mdi:calendar" size={ 24 } />
            {service.createdAt.toLocaleDateString()}
          </span>
          <span class="text-sm font-semibold text-yellow-500">
            <Icon name="mdi:star" size={ 24 } />
            {service.starCost} estrellas
          </span>
        </div>
        <div class="flex items-center mb-4">
          <span class="bg-blue-100 text-blue-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded">
            {
            service.category.name
            }
          </span>
        </div>
        <h4 class="text-lg font-semibold mb-2 text-gray-700">Comentario Reciente</h4>

        <button
          class="w-full bg-green-500 text-white px-4 py-2 rounded-md hover:bg-green-600 transition-colors flex items-center gap-2 justify-center"
        >
          <Icon name="mdi:comment-multiple-outline" size={ 24 } />Ver todos los comentarios
        </button>
      </div>
    </div>
  </>
    )) }
  </div>
</div>
<script>
  const backButton = document.getElementById( 'back-button-worker-profile' ) as HTMLButtonElement

  backButton.addEventListener( 'click', () => {
    window.history.back()
  } )
</script>
